In [5]:
import pandas as pd
import torch

采用 pd.read_csv(file path) 对csv文件进行读取

In [6]:
data = pd.read_csv('/Users/hellomax/Desktop/pytoch2/data/house_tiny.csv')
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

use .iloc[] 对 variable 进行切片

In [7]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
inputs, outputs

(   NumRooms Alley
 0       NaN  Pave
 1       2.0   NaN
 2       4.0   NaN
 3       NaN   NaN,
 0    127500
 1    106000
 2    178100
 3    140000
 Name: Price, dtype: int64)

use .get_dummies() 使用校准功能

In [8]:
inputs = pd.get_dummies(inputs, dummy_na=True)
inputs

   NumRooms  Alley_Pave  Alley_nan
0       NaN           1          0
1       2.0           0          1
2       4.0           0          1
3       NaN           0          1

use .select_dtypes() 选取数据类型 use .fillna() 对数据进行替换

In [9]:
inputs = inputs.fillna(inputs.select_dtypes(include=['float64']).mean())
inputs

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

In [10]:
X, Y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, Y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))

In [11]:
from mxnet import np, npx
x = np.arange(100)
x

ModuleNotFoundError: No module named 'mxnet'